.list {
    position: absolute;
    border: 3px solid #04ADBF;
    border-radius: 5px;
    display: inline-block;
    margin: 30px;
    margin-left: 0px;
    height: 590px;
    width: 300px;
    padding: 20px;
}

h1 {
    padding-left: 25px;
    padding-top: 5px;
    color: #025373;
    margin: 0px 0px 10px 0px;
}

ul {
    list-style: none;
    padding: 0px;
    color: #025373;
}

li img {
    float: right;
    height: 35px;
}


